*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --primary-color: #2a343f;
}
body{
  font-family: 'Lato', sans-serif;
  color: #333;
  line-height: 1.6;
}
ul{
  list-style-type: none;
}
.navbar .flex{
  justify-content: space-between;
}
a{
  text-decoration: none;
  color: #333;
}
h1, h2{
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
p{
  margin: 10px 0;
}
img{
  width: 100%;
}
.navbar{
  background-color: var(--primary-color);
  color: #fff;
  height: 70px;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding:  0 40px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.navbar ul{
  display: flex;

}
.navbar a{
  color:#fff;
  padding: 10px;
  margin:0 5px;
}
.navbar a:hover{
  border-bottom: 2px #fff solid;
}
/*showcase*/
.showcase{
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
 
}
.showcase h1{
  font-size: 40px;
}
.showcase p{
  margin: 20px 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 30px;
}
.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
  padding: 20px;
  margin: 10px;
}
.showcase-form{
  position:relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
}
.showcase-form .form-control {
  margin:30px 0;
}
.showcase-form input[type='text'],
.showcase-form input[type='email']{
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
.showcase-form input:focus{
  outline:none;
}
.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background: var(--primary-color);
  color:#fff;
  border:none;
  border-radius:5px;
}
.btn-outline {
  background-color: transparent;
  border: 1px, #fff solid;
}
.btn:hover {
  transform: scale(0.98);
}
.showcase::before ,
.showcase::after {
  content: '';
  position: absolute;
  bottom:-70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
/*stats*/
.stats {
  padding-top: 100px;
}
.text-center {
  text-align: center;
}
.stats-heading {
  max-width: 500px;
  margin: auto;
}
.stats .grid h3 {
  font-size: 30px;

}.stats .grid p {
  font-size: 20px;
  font-weight: bold;
}